doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    h1 404
    h2 No hay nada que ver aquí
    #container.col
      p You are amazing
      p
        | Tito tito capotito
        | sube al cielo y pega un grito.
        | Agua pasa por mi casa
        | Cate de mi corazón